
body
{
    background-image: url("media/picfullbg1.jpg");
}


@font-face
{
    font-family: myFont;
    src: url("font/TheSmileFont.otf");

}

@font-face {
    font-family: myFont2;
    src: url(font/GlacialIndifference.otf);
}

@media screen and (max-width: 1500px) 
{

    .bgleaf1,.gridpaper1,.gridpaper2 {display:none;}

} 
.icon
{
    color: black;
}
.icon:hover
{
    color: #CEB2DB;
}

.container-fluid
{
    margin: 0%;
    padding: 0%;
} 

/* nav style */
.navbar
{
    background-image: url("media/picfullbg2.png");
    background-size: cover;
    width: 100%;
}

.navbar-brand img
{
    width: 315px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1vw;
}

.navbar-toggler
{
   justify-content: end;
}

.navbar-nav
{
    margin: auto;
}
.navbar-nav li
{
    display: inline;
    padding-right: 3vw;
}

.nav-link
{
    font-family: myFont2;
    font-size: 20px;
    color: black;
}

.nav-link img
{
    height: 50px;
}

.nav-link:hover
{
    text-decoration: underline;
}

#hamsterlogo
{
    width:90px;
}

#carelogo
{
    width: 50px;
}

#cagelogo
{
    width: 60px;
}

#toylogo
{
    width: 50px;
}

.dropdown-menu
{
    background-color:  #F2F1EB;
    width: 200px;
}

.dropdown-menu li a
{
    font-family:myFont2;
    font-size: 20px;
    color: black;
}

.dropdown-menu li a:hover
{
    background-color:#CEB2DB;
}

/* footer style */
.footer
{
    background-image: url("media/picfullbg2.png");
    background-size: cover;
    width: 100%;
    height: 120px;
}

.footp
{
    text-align: center;
    margin: auto;
    margin-top: 3.5vw;
    font-family: myFont2;
    font-size: 20px;
    color: black;
}


/* index style */

#carousel
{
    padding-top: 10vh;
    margin: auto;
}

#carousel img
{
    margin: auto;
    width: 50vw;
    border: 1vw solid #F2F1EB;
}

 .indexh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.indexh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.indexp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.indexp1
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 90%;
}

.bgpaper1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width:  98.9vw;
}


.gridpaper1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 45vw;
    z-index: -1;
    margin-left: 53.9vw;
    object-fit: contain;
}

.gridpaper2
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 45vw;
    z-index: -1;
    object-fit: contain;
    margin-left: -9vw;
}

.bgleaf1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 20vw;
    z-index: -1;
    margin-top: 400px;
    margin-left: 200px;
    object-fit: contain;
}



.hamstercheecksrow ,.hamsterliverow
{
    width: 85%;
    margin: auto;
}

.vid1
{
    margin: auto;
    margin-bottom: 2vw;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 95%;
}

.vid2
{
    margin:auto;
    margin-bottom: 2vw;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 95%;
}

/* hamster species style */

.bgpaper1species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 98.9vw;
    z-index: -1;
}

.paperbag1species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 60vw;
    z-index: -1;
    object-fit: contain;
}

.paperbag2species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 45vw;
    z-index: -1;
    margin-left: 53.9vw;
    object-fit: contain;
}

.paperbag3species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 60vw;
    z-index: -1;
    object-fit: contain;
}

.gridpaper1species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 45vw;
    z-index: -1;
    margin-left: 53.9vw;
    object-fit: contain;
}

.gridpaper2species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 60vw;
    z-index: -1;
    object-fit: contain;
}

.gridpaper3species
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 45vw;
    z-index: -1;
    margin-left: 53.9vw;
    object-fit: contain;
}

.speciesh1
{
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.speciesp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}
.speciesh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-bottom: -3vw;
    margin-top: 5vw;
}

.sciname
{
    font-family: myFont2;
    font-style: italic;
    font-size:20px;
}

.speciesdl
{

    margin: auto;
    text-align: justify;
    width: 90%;
}


.speciesdt
{
    font-family: myFont2;
    font-size:20px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.speciesdd
{
    font-family:myFont2;
    font-size:20px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: justify;
}

.speciesimg
{
    width: 400px;
    height: 500px;
    object-fit: contain;

}

.speciesimgdiv
{
    margin: auto;
    text-align: center;
}

.species
{
    width: 100%;
}

/* hamster food style */

.bgpaper1food
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2food
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.plainpaper1food
{
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1vw;
    height: 55vh;
    width: 98.9vw;
    z-index: -1;
    
}
.foodh1
{
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.foodh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.foodh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.foodp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.foodp1
{
    text-align: center;
    margin-bottom: 3vw;
    padding-top: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 80%;
}

.foodul
{
    text-align: justify;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 40%;
}

.foodimg
{
    width: 350px;
    height: 450px;
    object-fit: contain;

}

.foodimgdiv
{
    margin: auto;
    text-align: center;
}

.waterrow
{
    width: 70%;
    margin: auto;
}

.foodh1
{
    width: 100%;
}

.food
{
    width: 99%;
}

.foodimgdiv
{
    margin: auto;
    text-align: center;
}

.foodrow
{
    width: 95%;
    margin: auto;
}

/* hamster tame style */
.bgpaper1tame
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2tame
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.plainpaper1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 98.9vw;
    z-index: -1;
    object-fit: contain;
}
.tameheader
{
    text-align: center;
    margin: auto;
    padding-top: 10vh;
}
.tameheaderimg
{
    width: 50vw;
    object-fit: contain;
    text-align: center;
    margin: auto;
    border: 1vw solid #F2F1EB;
}
.tameh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.tameh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.tamep
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}


.tameimg
{ 
    width: 350px;
    height: 450px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}

.tameimgdiv
{
    margin: auto;
    text-align: center;
}


/* hamster cage */

#carousel1
{
    padding-top: 10vh;
    margin: auto;
}

#carousel1 img
{
    margin: auto;
    width: 50vw;
    border: 1vw solid #F2F1EB;
}

.bgpaper1cage
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2cage
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}


.plainpaper1cage
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 98.9vw;
    z-index: -1;
    margin-top: 85vh;
    
}

.plainpaper2cage
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 98.9vw;
    z-index: -1;
    
}
.cageh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.cageh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.cageh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.cagep
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}
.cagerow
{
    width: 80%;
    margin: auto;
}
.vid3
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid4
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid5
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid6
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}


/* hamster bedding style */
.bgpaperbedding1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaperbedding2
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width:  98.9vw;
}
.beddingh1
{
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.beddingh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.beddingh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.beddingp
{
    text-align: center;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.beddingp1
{
    text-align: justify;
    margin-bottom: 3vw;
    padding-top: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 80%;
}

.beddingimg
{ 
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}

.beddingimgdiv
{
    margin: auto;
    text-align: center;
}

.bedding
{
    width: 99%;
}

/* hamster sand style */
.bgpaper1sand
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2sand
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.sandh1
{
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.sandh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.sandh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.sandp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.sandimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
}

.sandimgdiv
{
    margin: auto;
    text-align: center;
}

.sandbath
{
    width: 99%;
}
/* hamster wheel */
.bgpaper1toy
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.bgpaper2toy
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
    z-index: -1;
}

.plainpaper1toy
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 98.9vw;
    z-index: -1;
    margin-top: -5vw;
}

.plainpaper2toy
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 98.9vw;
    z-index: -1;
    margin-top: -8vw;
}
.toyh1
{
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.toyh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.toyh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.toyp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.toyp1
{
    text-align: justify;
    margin-bottom: 3vw;
    padding-top: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 80%;
}

.toy
{
    width: 99%;
}

.wheelimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
}

.wheelimgdiv
{
    margin: auto;
    text-align: center;
}

/* hamster hideout */
.hideoutimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}

.hideoutimgdiv
{
    margin: auto;
    text-align: center;
}
