
body
{
    background-image: url("media/picfullbg1.jpg");
    height: 100vh;
}

@font-face 
{
    font-family: myFont;
    src: url("font/TheSmileFont.otf");
}

@font-face {
    font-family: myFont1;
    src: url();
}

/* main page  */

/* nav style */
.navbar
{
    background-image: url("media/picfullbg2.png");
    background-size: cover;
    width: 100vw;
}

.navbar-brand
{
    /* margin-left: 25%;
    transform: translate(-50%); */
}
.navbar-brand img
{
    width: 315px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.navbar-toggler
{
   justify-content: end;
}

.navbar-nav li 
{
    display: inline;
    padding-right: 3vw;
}

.nav-link
{
    font-family: myFont;
    font-size: 25px;
    color: black;
}

.nav-link img
{
    height: 50px;
}

.nav-link:hover
{
    text-decoration: underline;
}

#hamsterlogo
{
    width:90px;
}

#carelogo
{
    width: 50px;
}

#cagelogo
{
    width: 60px;
}

#toylogo
{
    width: 50px;
}

/* .dropdown-menu
{
    background-color:  #F2F1EB; 
    width: 250px;
} */

.dropdown-menu li a
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.dropdown-menu li a:hover
{
    background-color:#CEB2DB;
}

/* content style */
 
#carousel
{
    padding-top: 10vh;
    margin: auto;
}

#carousel img
{
    margin: auto;
    width: 50vw;
    border: 1vw solid #F2F1EB;
}

 h1
{
    font-family: myFont;
    text-align: center;
    font-size: 80px;
}

h3
{
    font-family: myFont;
    font-size: 50px;
    text-align: center;
}

 p
{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.content
{
    padding-top: 50px;
    justify-content: center;
    margin: auto;
}

.bgpaper1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}
.bgpaper2
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 100vh;
}

.vid1
{
    margin: auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid2
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* hamster species style */
.speciesh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
}

.speciesp
{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.speciesdl
{
    margin-top: 1vw;
    margin-left: 10vw;
}

.speciesdt
{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

.speciesdd
{
    font-family: 'Times New Roman', Times, serif;
}

.speciesimg
{
    width: 20vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 0vw;
}

/* hamster food style */
.waterimg
{
    width: 10vw;
    height: 30vh;
}

ul
{
    list-style-position: inside;
    justify-content: end;
}

/* hamster cage */

.vid3
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid4
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid5
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid6
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* hamster bedding style */
.beddingimg
{
    width: 20vw;
    height: 60vh;
}

/* hamster sand style */
.sandimg
{
    width: 20vw;
    height: 60vh;
}

/* hamster hideout */
.hideoutimg
{
    width: 20vw;
    height: 60vh;
}

/* hamster wheel */

.wheelimg
{
    width: 20vw;
    height: 60vh;
}