
body
{
    background-image: url("media/picfullbg1.jpg");
    height: 100%;
    margin: 0%;
    padding: 0%;
}

@font-face
{
    font-family: myFont;
    src: url("font/TheSmileFont.otf");
}

@font-face {
    font-family: myFont2;
    src: url(font/GlacialIndifference.otf);
}


/* main page  */

/* nav style */
.navbar
{
    background-image: url("media/picfullbg2.png");
    background-size: cover;
    width: 100%;
}

.navbar-brand img
{
    width: 315px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.navbar-toggler
{
   justify-content: end;
}

.navbar-nav li
{
    display: inline;
    padding-right: 3vw;
}

.nav-link
{
    font-family: myFont2;
    font-size: 20px;
    color: black;
}

.nav-link img
{
    height: 50px;
}

.nav-link:hover
{
    text-decoration: underline;
}

#hamsterlogo
{
    width:90px;
}

#carelogo
{
    width: 50px;
}

#cagelogo
{
    width: 60px;
}

#toylogo
{
    width: 50px;
}

.dropdown-menu
{
    background-color:  #F2F1EB;
    width: 250px;
}

.dropdown-menu li a
{
    font-family:myFont2;
    font-size: 20px;
    color: black;
}

.dropdown-menu li a:hover
{
    background-color:#CEB2DB;
}

/* content style */

#carousel
{
    padding-top: 10vh;
    margin: auto;
}

#carousel img
{
    margin: auto;
    width: 50vw;
    border: 1vw solid #F2F1EB;
}

 .indexh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.indexh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.indexp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
    border: 1px solid black;
}

.bgpaper1
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 98vw;
}
.bgpaper2
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 100vh;
}

.vid1
{
    margin: auto;
    margin-bottom: 2vw;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 95%;
}

.vid2
{
    margin:auto;
    margin-bottom: 2vw;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 95%;
}

/* hamster species style */

.speciesh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}


.speciesp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}
.speciesh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-bottom: -3vw;
    margin-top: 5vw;
}

.speciesdl
{

    margin: auto;
    text-align: justify;
    width: 90%;
    border: 1px solid black;
}

.speciesdt
{
    font-family: myFont2;
    font-size:15px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.speciesdd
{
    font-family:myFont2;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: justify;
}

.speciesimg
{
    width: 400px;
    height: 500px;
    object-fit: contain;

}

.speciesimgdiv
{
    margin: auto;
    text-align: center;
}

/* hamster food style */

.foodh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.foodh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.foodh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.foodp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.foodul
{
    text-align: justify;
    margin: auto;
    font-family: myFont2;
    font-size: 25px;
    width: 50%;
}

.waterimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
}

/* hamster tame style */
.tameh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.tameh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.tamep
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}



/* hamster cage */

.cageh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.cageh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.cageh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.cagep
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.vid3
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid4
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid5
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

.vid6
{
    margin:auto;
    border: 1vw solid #F2F1EB;
    background-image: url("media/gridpaper1.1.png");
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* hamster bedding style */
.beddingh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.beddingh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.beddingh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.beddingp
{
    text-align: center;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.beddingp1
{
    text-align: justify;
    margin-bottom: 3vw;
    padding-top: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 80%;
}

.beddingimg
{ 
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}

.beddingimgdiv
{
    margin: auto;
    text-align: center;
}

/* hamster sand style */

.sandh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.sandh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.sandh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.sandp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.sandimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
}

.sandimgdiv
{
    margin: auto;
    text-align: center;
}
/* hamster wheel */

.toyh1
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 80px;
}

.toyh3
{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-family: myFont;
    font-size: 50px;
}

.toyh4
{
    font-family: myFont;
    font-size: 35px;
    text-align: center;
    margin: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.toyp
{
    text-align: justify;
    margin-bottom: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 30px;
    width: 80%;
}

.toyp1
{
    text-align: justify;
    margin-bottom: 3vw;
    padding-top: 3vw;
    margin: auto;
    font-family: myFont2;
    font-size: 20px;
    width: 80%;
}

.wheelimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
}

.wheelimgdiv
{
    margin: auto;
    text-align: center;
}

/* hamster hideout */
.hideoutimg
{
    width: 384px;
    height:451.75px;
    object-fit: contain;
    text-align: center;
    margin: auto;
}

.hideoutimgdiv
{
    margin: auto;
    text-align: center;
}
